<form>
  <mat-form-field>
    <input matInput placeholder="Digite o nome de um alimento">
  
    <mat-select placeholder="Tipos de receitas">
      <mat-option value="salgadas">Salgadas</mat-option>
      <mat-option value="doces">Doces</mat-option>
      <mat-option value="vegetarianas">Vegetarianas</mat-option>
      <mat-option value="veganas">Veganas</mat-option>
      <mat-option value="lac">Sem Lactose</mat-option>
      <mat-option value="glut">Sem Gluten</mat-option>
    </mat-select>
  </mat-form-field>
</form>


