<div  class="card-margins"> 
    <mat-card>
        <div></div>
        <mat-card-header>
          <mat-card-title>Torta de Sardinha</mat-card-title>
          </mat-card-header>
            <img class="dispensa" mat-card-image src="assets/sardinha.jpg">
          <mat-card-content>
                <p> Ingredientes:</p>
                  <br>
                  <ul>
                        <li>1 colher (sopa) de azeite de oliva</li>
                        <li>2 colheres (sopa) de cebola picada</li>
                        <li>1 dente de alho picado</li>
                        <li>2 xícaras (chá) de tomate em cubos</li>
                        <li>2 latas de sardinha</li>
                        <li>1 colher (sobremesa) de salsa (ou salsinha)</li>
                        <li>5 pão francês adormecidos</li>
                        <li>3 colheres (sopa) de maionese a gosto</li>
                        <li>sal a gosto</li>
                  </ul>
                  <br>
                  <p>Modo de Preparo:</p>
                    <ol>
                        <li>Aqueça o azeite e refogue a cebola e o alho.</li>
                        <li>Acrescente o tomate e mexa por 1 minuto.</li>
                        <li>Junte a sardinha e a salsinha picadas, corrija o sal e cozinhe por 1 minuto. Reserve.</li>
                        <li>Corte os pães em fatias médias</li>
                        <li>Em um refratário untado, monte a torta</li>
                        <li>Faça uma camada de pão</li>
                        <li>Espalhe a maionese e cubra com o refogado de sardinha.</li>
                        <li>Repita as camadas e finalize com uma camada de sardinha.</li>
                        <li>Leve ao forno, preaquecido, por 20 minutos e sirva em seguida como prato principal.</li>
                    </ol>  
                    <br>
                    <div class="example-button-row">
                            <button mat-raised-button  [routerLink]="['']">Voltar</button>
                        </div> 
          </mat-card-content>
        </mat-card>
      </div>
      
