
<div class="card-margins">
    <mat-card>
        <mat-card-header>
          <div></div>
          <mat-card-title>Sobre o disperdício de Comida no Brasil</mat-card-title>
        </mat-card-header>
        <img class="disperdicio" mat-card-image src="assets/desperdício-de-comida.png">
        <mat-card-content>
        </mat-card-content>
      </mat-card>
</div>

<div class="card-margins">
    <mat-card>
        <mat-card-header>
          <div></div>
          <mat-card-title>Sobre</mat-card-title>
        </mat-card-header>
        <img class="dispensa" mat-card-image src="assets/dispensa.jpg">
        <mat-card-content>
          <p>
            O e-dipensa é uma aplicação desenvolvida para auxiliar o usuário a diminuir o disperdicio de comida.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
